.Menu {
	background-color: var(--color-gray-2);
	position: fixed;
	width: 0;
	height: calc(100vh - 60px);
	bottom: 0;
	z-index: 1;
	right: -26px;
	backdrop-filter: var(--blur-default);
	transition: width linear var(--time-transitioion-fast);
	border: var(--border-default-6);
	border-radius: var(--border-radius-rightcorner);
	padding: 8px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.Menu button {
	text-wrap: nowrap;
}

.Menu.open {
	width: 400px;
	right: 0;
	transition: width linear var(--time-transitioion-fast);
}

@media (max-width: 410px) {
	.Menu.open {
		width: 350px;
	}
}

@media (max-width: 360px) {
	.Menu.open {
		width: 320px;
	}
}

@media (max-width: 330px) {
	.Menu.open {
		width: 300px;
	}
}