.divDefault {
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	border-radius: var(--border-radius-default);
	border: var(--border-default-2);
	background-color: #ffffff1b;
}

.yourMeetings {
	width: 90%;
}

@media (max-width: 1000px) {
	.yourMeetings {
		width: 95%;
	}
}