.Hamburger {
	width: 30px;
	cursor: pointer;
}

.Hamburger:before,
.Hamburger:after,
.Hamburger div {
	background: var(--color-white);
	content: "";
	display: block;
	height: 4px;
	border-radius: 3px;
	margin: 5px 0;
	transition: 0.5s;
}

.Hamburger:hover:before,
.Hamburger:hover:after,
.Hamburger:hover div {
	background-color: var(--color-purple-1);
	color: var(--color-purple-1);
}

.Hamburger.open:before {
	transform: translateY(9px) rotate(135deg);
	
}
.Hamburger.open:after {
	transform: translateY(-9px) rotate(-135deg);
}
.Hamburger.open div {
	transform: scale(0);
}