.signin {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: var(--color-white);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 500px;
	background-color: var(--color-light-5);
	width: calc(100% - 30px);
	box-shadow: var(--box-shadow-default);
	border-radius: var(--border-radius-default);
	padding: 20px 50px 50px 50px;
	border: var(--border-default-wide);
}

.main h1 {
	text-align: center;
}

.item {
	overflow: hidden;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	width: 100%;
	border-radius: var(--border-radius-default);
	padding: 10px;
	border: var(--border-default-4);
	align-items: center;
	transition: box-shadow var(--time-transitioion);
}

.item:hover {
	box-shadow: var(--box-shadow-default);
	transition: box-shadow var(--time-transitioion);
}

.image {
	margin-right: 20px;
}

@media (max-width: 550px) {
	.main {
		padding: 20px 20px 50px 20px;
		border: var(--border-default-4);
	}
}

@media (max-width: 430px) {
	.main {
		padding: 10px 10px 50px 10px;
		border: var(--border-default-4);
	}
	.item {
		padding: 5px;
	}
}