.accordion {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--border-radius-default);
	box-shadow: var(--box-shadow-default);
	background-color: var(--color-light);
	color: var(--color-white);
	padding: 10px;
	border: 10px solid var(--color-light);
	overflow: hidden;
	transition: background-color linear var(--time-transitioion);
	height: fit-content;
}

.accordion:hover {
	background-color: var(--color-light-2);
	transition: background-color linear var(--time-transitioion);
}

.header {
	display: flex;
	width: 100%;
}

.control {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-black);
}

.content {
	height: 0;
}

.open .content {
	height: 100%;
}