.accordion {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--border-radius-default);
	background-color: var(--color-light);
	color: var(--color-white);
	padding: 10px;
	border: var(--border-default-wide-2);
	overflow: hidden;
	transition: background-color linear var(--time-transitioion), box-shadow linear var(--time-transitioion);
	height: fit-content;
}

.accordion:hover {
	background-color: var(--color-light-2);
	transition: background-color linear var(--time-transitioion), box-shadow linear var(--time-transitioion);
	box-shadow: var(--box-shadow-default);
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-weight: bold;
}

.control {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-black);
}

.content {
	height: 0;
	color: var(--color-light-9);
}

.open .content {
	height: 100%;
}

.accordion hr {
	border: var(--border-default-thin-2);
}

@media (max-width: 500px) {
	.accordion {
		border: var(--border-default-wide-3);
	}
}