.content {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 372px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.alert {
	display: flex;
	background-color:#fbfbfb;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 20px;
	border: 1px solid gray;
	transition: box-shadow linear .5s;
	width: max-content;
}

.alert:hover {
	transition: box-shadow linear .5s;
	box-shadow: var(--box-shadow-default);
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	position: relative;
	border: 1px solid black;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

.icon:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: '';
	width: 10px;
	height: 10px;
	border: 1px solid black;
	background: #fff;
	position: relative;
	left: 6px;
	border-left: 0;
	border-bottom: 0;
}

.text {
	display: flex;
	flex-direction: column;
	padding: 15px 0 15px 15px;
}

.close {
	width: 50px;
	height: 40px;
	font-size: 25px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: gray;
}

.close:hover {
	color: black;
}

.alertSuccess .icon, .alertSuccess .icon:after {
	border-color: #54a754;
	background: #60c060;
}

.alertInfo .icon, .alertInfo .icon:after {
	border-color: #3a8ace;
	background: #4d90fd;
}

.alertWarning .icon, .alertWarning .icon:after {
	border-color: #d68000;
	background: #fc9700;
}

.alertDanger .icon, .alertDanger .icon:after {
	border-color: #ca452e;
	background: #da4932;
}