.content {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 400px;
	width: 100%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.alert {
	display: flex;
	background-color: var(--color-light-3);
	border-radius: var(--border-radius-default);
	overflow: hidden;
	margin-top: 20px;
	border: var(--border-default-3);
	transition: box-shadow, background-color linear var(--time-transitioion);
	width: 100%;
	backdrop-filter: var(--blur-default-2);
}

.alert:hover {
	transition: box-shadow, background-color linear var(--time-transitioion);
	box-shadow: var(--box-shadow-default);
	background-color: var(--color-light-4);
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	width: 70px;
}

.icon:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: '';
	width: 10px;
	height: 10px;
	background: var(--color-white);
	position: relative;
	left: 26px;
	border-left: 0;
	border-bottom: 0;
}

.icon img {
	width: 30px;
	height: 30px;
	padding: 10px;
	object-fit: contain;
}

.text {
	display: flex;
	flex-direction: column;
	padding: 15px 0 15px 15px;
	width: 100%;
	overflow: hidden;
}

.close {
	width: 50px;
	height: 40px;
	font-size: 25px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--color-black);
	transition: color linear var(--time-transitioion-fast);
}

.close:hover {
	background: none;
	color: var(--color-white);
	transition: color linear var(--time-transitioion-fast);
}

.alertSuccess .icon, .alertSuccess .icon:after {
	background: var(--color-green-alert);
}

.alertInfo .icon, .alertInfo .icon:after {
	background: var(--color-blue-alert);
}

.alertWarning .icon, .alertWarning .icon:after {
	background: var(--color-orange-alert);
}

.alertDanger .icon, .alertDanger .icon:after {
	background: var(--color-red-alert);
}

@media (max-width: 800px) {
	.content {
		margin: 10px;
	}
	.text {
		padding: 7px 0 7px 10px;
	}
	.close {
		width: 40px;
		height: 35px;
		padding: 0;
	}
	.alert {
		margin-top: 10px;
	}
}

@media (max-width: 500px) {
	.content {
		max-width: 320px;
	}
	.icon {
		width: 30px;
	}
	.icon img {
		padding: 3px 5px 3px 3px;
	}
	.icon:after {
		width: 7px;
		height: 7px;
		left: 12px;
	}
}

@media (max-width: 360px) {
	.content {
		max-width: 270px;
	}
}