html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  min-height: 100vh;
	background-repeat: no-repeat;
	overflow-x: hidden;
	cursor: default;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-image: linear-gradient(to top, #283373 0%, #38356d 13%, #554277 25%, #59416d 38%, #5c3959 50%, #5a2e3e 62%, #61362f 75%, #593d27 87%, #54452a 100%);
  }
}

:root {
  /* Colors */
  --color-light: #ffffff1b;
  --color-light-2: #3f50b112;
  --color-light-3: #ffffffa6;
  --color-light-4: #eaeaeaa6;
  --color-light-5: rgba(255, 255, 255, 0.10);
  --color-light-6: rgba(255, 255, 255, 0.30);
  --color-light-7: rgba(255, 255, 255, 0.50);
  --color-light-8: rgba(255, 255, 255, 0.70);
  --color-light-9: rgba(255, 255, 255, 0.80);
	--color-light-10: #ffffff00;
  --color-white: white;
  --color-black: black;
  --color-green-1: rgba(104, 255, 104, 0.5);
  --color-green-2: #8daca6;
  --color-green-3: #139379;
  --color-green-4: #1abc9c;
  --color-blue-1: rgba(0, 68, 255, 0.4);
  --color-red-1: rgba(255, 0, 0, 0.3);
  --color-gray-1: gray;
  --color-gray-2: rgba(128, 128, 128, 0.5);
  --color-silver-1: silver;
  --color-silver-1: silver;
  --color-purple-1: #7b5fac;
  --color-burgundy-1: #cc6b8e;

  /* Component BreadCrumbs */
  --color-main-breadcrumbs: var(--color-green-2);
  --color-hover-breadcrumbs: var(--color-green-3);
  --color-active-breadcrumbs: var(--color-green-4);
  --color-text-breadcrumbs: #fff;

	/* Component Alert */
	--color-green-alert: #60c060;
	--color-blue-alert: #4d90fd;
	--color-orange-alert: #fc9700;
	--color-red-alert: #da4932;
}

:root {
  /* Others styles */
  --box-shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border-radius-default: 20px;
  --border-radius-rightcorner: 20px 0 0 20px;
  --border-radius-leftcorner: 0 20px 20px 0;
  --border-radius-topcorner: 20px 20px 0 0;
  --border-default: 5px solid #c3c3c3;
  --border-default-red: 5px solid rgba(255, 0, 0, 0.547);
	--border-default-2: 5px solid rgba(255, 255, 255, 0.10);
	--border-default-3: 5px solid rgba(255, 255, 255, 0.50);
	--border-default-4: 5px solid rgba(255, 255, 255, 0.30);
	--border-default-5: 5px solid rgba(255, 255, 255, 0.40);
	--border-default-6: 5px solid rgba(255, 255, 255, 0.60);
	--border-default-transparent: 5px solid transparent;
	--border-default-wide: 10px solid rgba(255, 255, 255, 0.30);
	--border-default-wide-2: 10px solid rgba(255, 255, 255, 0.10);
	--border-default-wide-3: 5px solid rgba(255, 255, 255, 0.10);
  --border-default__hover: 4px solid #9e9e9e;
  --border-default-thin: 2px solid #c3c3c3;
  --border-default-thin-2: 1px solid rgba(255, 255, 255, 0.30);
  --outline-default: 4px solid #c3c3c3;
	--blur-default: blur(7px);
	--blur-default-2: blur(4px);
	--time-transitioion: 0.5s;
	--time-transitioion-fast: 0.3s;
	--time-transitioion-fast-2: 0.35s;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
	text-transform:capitalize;
  padding: 6px 10px;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  border: var(--border-default-4);
  color: var(--color-white);
  background-color: var(--color-blue-1);
  transition: background-color linear var(--time-transitioion-fast-2);
}

button:hover {
  background-color: var(--color-green-1);
  color: var(--color-black);
  transition: background-color linear var(--time-transitioion-fast-2);
}

select, input, textarea {
  border: var(--border-default-4);
  background-color: var(--border-default-5);
  border-radius: var(--border-radius-default);
	color: var(--color-white);
}
input::placeholder, textarea::placeholder {
  color: var(--color-white);
}

* {
  box-sizing: border-box;
}

input[type=datetime-local] {
  padding: 6px 10px;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator{
	filter: invert(1);
}

textarea {
  padding: 6px 10px;
  border-radius: var(--border-radius-default);
}

input.error {
  background-color: var(--color-red-1);
  border: var(--border-default-red);
}

select, input {
	cursor: pointer;
}

ul {
	padding-left: 20px;
}

/* Start styles for the react-calendar */
.react-calendar {
	border: var(--border-default-4);
	border-radius: var(--border-radius-default);
	background-color: var(--color-light-5);
	max-width: 500px;
	overflow: hidden;
}

.react-calendar abbr, span {
	font-size: 20px;
}

.react-calendar__month-view__days {
	margin: 10px;
}

.react-calendar__month-view__days button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: transparent;
	border: var(--border-default-transparent);
}

.react-calendar__month-view__days button:disabled {
	color: var(--color-gray-2)
}

.react-calendar__month-view__days button.react-calendar__tile--active {
	border: var(--border-default-6);
}

.react-calendar__month-view__days button:hover {
	background-color: var(--color-light-6);
	border: var(--border-default-6);
	color: var(--color-white)
}

.react-calendar__month-view__days button:disabled:hover {
	background-color: transparent;
	border: none;
	color: var(--color-gray-2);
	cursor: default;
}

.react-calendar__month-view__weekdays {
	margin: 0 10px;
}

.react-calendar .react-calendar__month-view__weekdays__weekday {
	display: flex;
	justify-content: center;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--color-white);
	margin: 5px 0;
}

.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
	font-size: 24px;
	text-decoration: none;
}

.react-calendar__navigation {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 5px 30px 10px 30px;
	background-color: var(--color-light-6);
}

.react-calendar__navigation button {
	display: flex;
	width: max-content;
	background-color: transparent;
	align-items: center;
	font-size: 24px;
	justify-content: center;
	background: var(--color-main-breadcrumbs);
	border: unset;
	min-width: 40px;
}

.react-calendar__navigation button:hover {
	color: var(--color-white);
	background-color: var(--color-light-6);
	background-color: var(--color-hover-breadcrumbs);
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: var(--color-light-7);
}

.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth {
	color: var(--color-light-7);
}

.react-calendar__month-view__days__day--weekend {
	color: #38356d;
}

.react-calendar__tile {
	background-color: transparent;
}

.react-calendar__year-view__months, .react-calendar__decade-view__years, .react-calendar__century-view__decades {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 10px;
}

.react-calendar__year-view__months button, .react-calendar__decade-view__years button, .react-calendar__century-view__decades button {
	font-size: 20px;
	color: var(--color-white)
}

.react-calendar__year-view__months button:hover, .react-calendar__decade-view__years button:hover, .react-calendar__century-view__decades button:hover {
	background-color: var(--color-light-6);
}

.react-calendar__navigation__label {
	cursor: default;
}

.react-calendar__navigation .react-calendar__navigation__label:hover {
	background: var(--color-main-breadcrumbs);
}

.react-calendar .react-calendar__navigation__prev2-button {
	display: none;
}

.react-calendar .react-calendar__navigation__next2-button {
	display: none;
}

@media (max-width: 576px) {
	.react-calendar__navigation {
		gap: 5px;
		padding: 5px;
	}

	.react-calendar__navigation button {
		font-size: 16px;
		min-width: 30px;
	}

	.react-calendar abbr, span, button {
		font-size: 16px;
	}

	.react-calendar__year-view__months button, .react-calendar__decade-view__years button, .react-calendar__century-view__decades button {
		font-size: 16px;
	}

	.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
		font-size: 16px;
		/* display: flex;
    justify-content: center;
    align-items: center; */
	}
}
/* End styles for the react-calendar */

@media (max-width: 500px) {
	h1 {
		font-size: 24px;

	}
}