.title {
  color: var(--color-white);
}

.error {
	background-color: var(--color-red-1);
	border: var(--border-default-red);
}

.proposeMeeting select {
  width: 100%;
  max-width: 400px;
}

.proposeMeeting input {
  width: 100%;
  max-width: 400px;
}

.proposeMeeting textarea {
  width: 100%;
  max-width: 400px;
}

.form {
  min-width: 450px;
  padding: 20px;
}

@media (max-width: 500px) {
	.form {
		min-width: unset;
	}
}